<html style="background-color: powderblue">
    <head>
        <link rel="stylesheet" href="css/main.css">
        <title> Lauren Gatesman </title>
        <div class="header">
            <nav>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </head>
    <body>
        {{{body}}}
    </body>
</html>